*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: century, poppins;
}

.topnav{
	position: relative;
	height: 80px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	background-color: #0066ff;
	padding:0 15px;
}

.topnav h2{
	color:#fff;
}

.topnav .menu-icon i{
	color:#fff;
	font-size:30px;
}

.topnav .social-links i{
	color: #fff;
	margin: 0 5px;
}

.topnav{
	position: relative;
}

.topnav .navbar{
	list-style-type: none;
	position:absolute;
	width: 100%;
	top:80px;
	left: 0;
	background-color:lightblue;
	padding:15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	transition:0.5s;
	z-index: 9999;
	display: none;
}

.topnav .navbar li{
	padding:8px 0;
	border-bottom: 1px solid rgba(225, 225, 225, 0.3);
	margin-bottom:10px;
}
.topnav .navbar li:last-child{
	border:0;
}
.topnav .navbar li a{
	color: whitesmoke;
}

.topnav .navbar li:hover a{
	color: goldenrod;
}

@media(min-width: 900px)
{
	.menu-icon{
		display: none;
	}
	.navbar{
		display: flex;
		position: static;
		flex-direction: column;
		background: transparent ;
	}
}

.wrapper{
	position:relative;
	display: flex;
	justify-content:space-around;
}

.sidebar{
	position: absolute;
	top:0;
	left:0;
	height: 100vh;
	width: 260px;
	background-color: skyblue;
	color: whitesmoke;
	display: flex;
	justify-content: space-around;
	align-items:center;
	flex-direction: column;
}

.sidebar .profile{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sidebar .profile img{
	width: 170px;
	height: 205px;
	border-radius: 60%;
	border:7px solid #0066ff;
	object-fit: cover;
	box-shadow: 5px 7px 15px rgba(0,0,0,0.5);
}

.sidebar h2{
	margin: 15px 0;
	color: white;
	font-size: 24px;
}

.sidebar ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.sidebar ul li{
	margin: 7px 0;
}

.sidebar ul li a{
	color: white;
	text-decoration: none;
	transition: 0.5s;
	position: relative;
}

.sidebar .nav a:after{
	position: absolute;
	left: 0;
	bottom: 0;
	content:"";
	width: 0%;
	height: 3px;
	background-color: white;
	transition: 0.5s;
}

.sidebar .nav a:hover:after{
	width: 100%;
}

.sidebar .social i{
	color:white;
	margin: 5px;
	transition: 0.5s;
	font-size: 20px;
}

.sidebar .social i:hover{
	color:white;
	margin:5px;
	transform: rotate(360deg);
}

.hero-content{
	margin-left: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	max-width: 700px;
	min-height: 100vh;
}

.hero-content h4{
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}

.hero-content h1{
	font-size: 3.5rem;
	margin: 28px;
}

.hero-content .btn{
	color: white;
	border: 2px solid skyblue;
	border-radius: 30px;
	padding: 12px 35px;
	margin:20px 0;
	transition: 0.5s;
}

.hero-content .btn:hover{
	color:#222;
	background-color: goldenrod;
}

.hero-content .input{
	color: goldenrod;
}

.footer{
 	text-align: center;
 	padding: 20px;
 	font-size: 14px;
 	color: whitesmoke;
 }

table, tr, th, td {
    border: 2px solid darkblue;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    max-width: 900px;
}

th {
    background-color: skyblue;
    color: black;
}


.education-item {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    color: white;
}

.education-item h2 {
    color: goldenrod;
    font-size: 22px;
    margin-bottom: 10px;
}

.education-item dl {
    padding-left: 20px;
}

.education-item dt {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

.education-item dd {
    margin-left: 20px;
    margin-top: 5px;
    color: #ddd;
    font-size: 16px;
}

input{
	display: none;
}
.container{
	width: 100%;
	text-align: center;
}


.photo-gallery {
	max-height: 20vh;
	overflow: hidden;
	width: 10%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;

}

.pic{
	position: relative;
	height: 50px;
}

.pic img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.gallery img:hover {
    transform: scale(1.05);
}

.contact-social{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.contact-social h2{
    font-size: 36px;
    color: goldenrod;
    margin-bottom: 10px;
}

.contact-social p{
    margin-bottom: 30px;
    color: #ddd;
}

.social-icons a{
    font-size: 35px;
    color: white;
    margin: 0 15px;
    transition: 0.3s;
}

.social-icons a:hover{
    color: goldenrod;
    transform: scale(1.2);
}

.uni-desc img {
    float: left;          
    height: 100px;
    width: 150px;
    margin-left: 20px;     
    margin-bottom: 10px;   
    margin-top: 10px;      
}


.open{
	display: none!important;
}

@media (max-width: 900px)
{
	.sidebar{
		display: none;
	}
	.hero-content{
		margin-left: 10px;
	}
	.hero-content{
		font-size: 2rem;
	}

}
